<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    <title>Trabajo integrador individual</title>
    <link rel="stylesheet" href="../public/CSS/style.css" /> 
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel= "stylesheet"href="../public/CSS/normalize.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
</head>
<body >
    <header class="main-header">
        <div class="main-header-top">
            <img src= "../images/logo-mercado-liebre.svg" class="logo">
            <h2 class="tituloTarjeta">
                <i class="fas fa-hand-holding-usd"></i>
                Comprá en cuotas y sin tarjetas de crédito
            </h2> 
        </div>
       
        <nav class="main-header-bottom">
            <ul class="izquierda-nav">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            <ul class="derecha-nav">
                <li><a href="#">Creá tu cuenta</a></li>
                <li><a href="#">Ingresá</a></li>
                <li><a href="#">Mis Compras</a></li>
            </ul>  
        </nav>    
     
      
      <form autocomplete="on" id="search">
      
        <input id="search" type="text" placeholder="Buscar por productos, Marcas">
        <button>
        <img src="../public/images/search-solid.svg" style="width:20px;height:20px;">
        </button>
      </form><br>
      <nav>
          
      </nav>   
    </header>
    <main>
        <!-- Esto es VISITAS -->
        <section><h2 class=titulares>Basado en tu última visita</h2>
            <div>
                <img src="../images/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex">
            </div>
            <div>
                    <p class="precio">Precio de producto</p>
                    <P>Porcentaje</P>
                    <p>Nombre de producto</p>
            </div>
            
            <div>
                <img src="../images/img-macbook-pro-2019.jpg" alt="Mac-Book">
            </div>
            <div>
                    <p class="precio">Precio de producto</p>
                    <P class="desc">Porcentaje</P>
                    <p class="desc">Nombre de producto</p>
            </div>
            <div>
                 <img src="../images/img-samsung-galaxy-s10.jpg" alt="Celular-Samsung">
            </div>
            <div>
                    <p class="precio">Precio de producto</p>
                    <P class="desc">Porcentaje</P>
                    <p class="desc">Nombre de producto</p>
            </div>
        </section>
        <br>
        <!-- Esto es OFERTAS -->
        <section><h2 class=titulares>Sección de ofertas</h2>          
            <div>
                <img src="../images/img-tv-samsung-smart.jpg" alt="Stickman">
            </div>
            <div>
                    <p class="precio">Precio de producto</p>
                    <P class="desc">Porcentaje</P>
                    <p class="desc">Nombre de producto</p>
            </div>
            <div>
                <img src="../images/img-cafetera-moulinex.jpg" alt="Stickman">
            </div>
            <div>
                    <p class="precio">Precio de producto</p>
                    <P class="desc"> Porcentaje</P>
                    <p class="desc">Nombre de producto</p>
            </div>
            <div>
                <img src="../images/img-samsung-galaxy-s10.jpg" alt="Stickman">
            </div>
            <div>    
                    <p class="precio">Precio de producto</p>
                    <P class="desc">Porcentaje</P>
                    <p class="desc">Nombre de producto</p>
            </div>
        </section>        

    </main> 

    <footer id=fondofooter>
        <i class="far fa-credit-card fa-2em"></i> 
        <h2 class=titulares>Pagá con tarjeta o efectivo</h2>           
        <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!<p>
        <i class="fas fa-user-shield"></i>
        <h2 class=titulares>Seguridad de principio a fin</h2>
        <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.<p>
        <i class="fas fa-gift"></i>
        <h2 class=titulares>Envío gratis desde $2500</h2>
        <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.<p>
        <h5>Copyright © 1999-2020 MercadoLiebre S.R.L.<h5>
    </footer>
    
</body>
</html>