<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trabajo integrador individual</title>
</head>
<body>
    <header>
        <p>Logo</p>
        <p>Compra en cuotas y sin tarjeta de credito</p>
    <ul>
        <li>Ofertas</li>
        <li>Tiendas Oficiales</li>
        <li>Vender</li>
        <li>Ayuda</li>
    </ul> 
    <ul>
        <li>Crea tu cuenta</li>
        <li>Ingresa</li>
        <li>Mis compras</li>      
    </ul> 

        
    </header>
    <main>
        <section><h2>Basado en tu última visita</h2></section>
        <div>
            <img>
            <p>Precio de producto</p>
             <P>Porcentaje</P>
             <p>Nombre de producto</p>
        </div>
        <div>
            <img>
             <p>Precio de producto</p>
             <P>Porcentaje</P>
             <p>Nombre de producto</p>
        </div>
        <div>
            <img>
            <p>Precio de producto</p>
             <P>Porcentaje</P>
             <p>Nombre de producto</p>
        </div>
        <br>
        <section><h2>Sección de ofertas</h2>
          
            <div>
                <img>
                <p>Precio de producto</p>
                 <P>Porcentaje</P>
                 <p>Nombre de producto</p>
            </div>
            <div>
                <img>
                 <p>Precio de producto</p>
                 <P>Porcentaje</P>
                 <p>Nombre de producto</p>
            </div>
            <div>
                <img>
                <p>Precio de producto</p>
                 <P>Porcentaje</P>
                 <p>Nombre de producto</p>
            </div>
            <br>
        </section>
        

    </main>   
    <footer>
        <section><h2>Pagá con tarjeta o efectivo</h2></section>
        <div>
            <img>
            <p>Precio de producto</p>
             <P>Porcentaje</P>
             <p>Nombre de producto</p>
        </div>
        <div>
            <img>
             <p>Precio de producto</p>
             <P>Porcentaje</P>
             <p>Nombre de producto</p>
        </div>
        <div>
            <img>
            <p>Precio de producto</p>
             <P>Porcentaje</P>
             <p>Nombre de producto</p>
        </div>
        <br>
        <section><h2>Pagá con tarjeta o efectivo</h2>
        <h4>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</h4></section>
        <section><h2>Seguridad de principio a fin</h2>
        <h4>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.
        </h4></section>
        <section><h2>Envío gratis desde $2500</h2>
        <h4>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</h4></section>
        <section><p>Copyright © 1999-2020 MercadoLiebre S.R.L.<p></section>
    </footer>
    
</body>
</html>