*{
    padding: 0%;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto";  
    background-color: #fff159; 
    width: 100vw; 
}

.main-menu{
    
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0; 
    transition: transform 0.3s;;
    transform: translateY(-100%); /* esto hace que el menu se muestre o no*/
   
}

img{
    max-width: 100%;
}

.logo{
    width:120px;
    padding: 10px 10px 10px 10px; 
    margin-bottom: 10px;
    margin-top: 5px;   
}
.main-header {
    display: flex;
    position: relative;
    width: 100vw;
	flex-direction: row;
	flex-wrap: wrap;
	align-content: flex-start;  
} 

.search{
    width: 50vw;
    position: relative;
    margin: 15px 15px;
}

.search-bar{
    width: 50vw;
    position: relative;
    padding: 10px;
    text-align: left;
    border: none;
    border-radius: 6px;
}
.button-bar-search{
    position: absolute;
    left: 91%;
    color: rgb(67, 66, 66);
    border: none;
    top: 8px;
    font-size: 1.2em;
    background-color:#fff;
    height: 1.2em;
}

i.fas.fa-search{
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    color: #666;
    font-size: 0.8em;
    margin: 3px -15px;
}

#toggle-menu{
    position:absolute;
    cursor:pointer;
    display:inline-block;
    margin: 5px -8px;
    width: 2.5rem;
    height: 2.5rem;
    top: 0.6rem;
    right: 5.5rem;
    filter: invert(1);/*hace que los iconos negros se pongan blancos*/

}

.main-menu{
    display: none; 
}

.main-menu--show{
    transform: translateY(0);/* aqui el menu se va mostrar mediante el script js*/ 
    display:block;
    text-align: left;
    background-color: white;     
    width: 100vw;
    padding: 5px;
    margin: 0;
}

.izquierda-nav{
    border-bottom: 1px solid rgb(226, 224, 224) ;
    margin: 0;
}


 .main-menu__item{
    padding: 1em; 
    list-style-type: none; 
} 

.main-menu__link{
    color: rgb(135, 134, 134);
    text-transform: capitalize;
    text-decoration: none; 
}

/*CARDS*/

.container-main{
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
    width: 100vw;
    background-color:#ebebeb; 
    margin:auto;

}

.banner-img{
        object-fit: cover;
        object-position: 50% 50%;
        height: 30vh;
        width: 100vw;
} 

p.titulos-principales{
    text-align: left;
    font-size: 1.5em;
    padding: 0.2em 2em;
    margin: 5px auto 0 0.7em;
    font-weight: bold;
}

.card-container{
    display: flex;  
  /*   margin-left: 2.5vw;
    margin-right: 2.5vw; */
    margin: 1em 2.8em;
    border-radius: 8px;
   	flex-direction: row;	
    flex-wrap: wrap;
    justify-content: center;     
    width: 90vw;
}


.card{
    margin-left: 2.5vw;
    margin-right: 2.5vw;
    margin-bottom: 5vh;
    box-shadow: 0 0 10px 3px #bdbfca44; 
    width: 40vw; 
}


.card-body{
    border-top: solid 1px #ebebeb; 
    margin-bottom: 8px ;   
}

.card-text{
    font-size: 18px;
    font-weight: bold;
}

.card-desc{
    font-size: 18px;
    font-weight: bold;
    color: #39b54a; 
}

.circulo {
    width: 30px;
    height: 30px;    
    border-radius: 50%;
    border: solid 2px  #5cb85c;
    font-size: 1em;
    padding: 0.4em;
    margin-left: 75%;
    display: flex;
    justify-content: center; 
}

.card h5{
    display: none;   
}

.card:hover h5{
    display: block;   
}

.card-title{
    font-size: 24px;
    font-weight: bold;
    color: #666;
}

/*FOOTER*/

.elementos-del-footer{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: flex-start;
    align-content: center;
    margin: auto; 
    padding: 1em;
}
#fondofooter{
    background-color: white;
    display: flex;
    position: absolute;
    width: 100vw;
	flex-direction: row;
	flex-wrap: wrap; 
}
.titulares{
    text-align: center;
    color:#585b58;
    font-size: 1em;
    font-weight: bold;
    position: relative;
}
p{
    text-align: center;
    color:#898989;
    font-size: 0.9em;
    position: relative;

}

.element-footer{
    display: flex;
    position: relative;
    width: 100vw;
	flex-direction: column;
	align-items: center;
    margin-top: 2%;
    padding: 1em;
    width: 33%;
    height: 80%;
}
.element-footer .far {
    color: rgb(99, 6, 238);
    font-size: 2em;  
    padding: 0.5em;
    position: relative;
    transform: translateY(-35%);
}
.element-footer .fas {
    color: rgb(99, 6, 238);
    font-size: 2em; 
    padding: 0.5em;
    position: relative;
    transform: translateY(-35%);
}
.copy-right{
    text-align: center;
    background-color: white;
    display: flex;
    flex-direction: column;
    flex-basis: auto;
    width: 100vw;
    padding: 1em;
    border-top:  1px solid rgb(226, 224, 224);
}
/*****estilos formulario creacion de cuenta*****/
.formulario-registro{
    width: 400px;
    background: white;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    border-radius: 8px;
    font-family: "roboto";
    color: black;
    box-shadow: 7px 10px 10px rgb(168, 167, 167);
}

.formulario-registro h4{
    font-size: 2em;
    margin-bottom: 20px;
}
.form-control{
   margin-bottom: 10px;
  
  
}

.control{
    width: 100%;
   
    background: #ebebeb;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid rgb(54, 54, 54);
    font-family: "roboto";
    font-size: 1em;
    color: rgb(54, 54, 54);;
}
.formulario-registro p{
    height: 40px;
    text-align: center;
    font-size: 1em;
    color: rgb(54, 54, 54);
    line-height: 30px;
}
.formulario-registro a{
    text-decoration: none;
    color: rgb(54, 54, 54);
}
.formulario-registro a:hover{
    color: rgb(54, 54, 54);
    text-decoration: underline;
}
.formulario-registro .boton{
    width: 100%;
    line-height: 20px;
    background: rgb(99, 6, 238);
    border: none;
    border-radius: 4px;
    padding: 12px;
    color: white;
    margin: 8px 0;
    font-size: 1em;
}

/*validacion*/

.form-control input{
    margin-bottom: 0.2em;
    position: relative;
}

.form-control.success input {
	border-color: #2ecc71;

}

.form-control.error input {
	border-color: #e74c3c;

}

.form-control i {
	visibility: hidden;
    position:absolute;
    margin-left: -22px;
}

.form-control.success i.fa-check-circle {
	color: #2ecc71;
	visibility: visible;
    margin-top: -30px;
    margin-left:290px;
   
   
}

.form-control.error i.fa-exclamation-circle {
	color: #e74c3c;
	visibility: visible;
    margin-top: 15px;
    margin-right: 15px;
    
  
}

.form-control small {
	color: #e74c3c;
    font-size: 1em;
	visibility: hidden;
  
}

.form-control.error small {
	visibility: visible;
    display: flex;
    justify-content: flex-start;

}




/**********************VERSION TABLET***************************/

@media screen and (min-width: 768px){


.container-main{
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
    width: 100vw;
    background-color:#ebebeb; 
    margin:auto;
}

.banner-img{
    object-fit: cover;
    object-position: 50% 50%;
    height: 30vh;
    width: 100vw;
} 

p.titulos-principales{
    text-align: left;
    font-size: 1.5em;
    padding: 0.5em;
    margin: 5px auto 0 0.8em;
    font-weight: bold;
}

.card-container{
        display: flex;  
        margin: 1em 0em;
        border-radius: 8px;
           flex-direction: row;	
        flex-wrap: wrap;
        justify-content: center;     
        width: 100vw;
    }
.card{
    margin-left: 2.5vw;
    margin-right: 2.5vw;
    margin-bottom: 5vh;
    box-shadow: 0 0 10px 3px #bdbfca44; 
    width: 40vw;  
    }
    

.card-body{
    border-top: solid 1px #ebebeb; 
    margin-bottom: 8px ;
    
}

.card-text{
    font-size: 18px;
    font-weight: bold;
}

.card-desc{
    font-size: 18px;
    font-weight: bold;
    color: #39b54a; 
}


.circulo {
    width: 30px;
    height: 30px;    
    border-radius: 50%;
    border: solid 2px  #5cb85c;
    font-size: 1em;
    padding: 0.4em;
    margin-left: 75%;
    display: flex;
    justify-content: center; 
}

.card-title{
    font-size: 24px;
    font-weight: bold;
    color: #666;

}


.copy-right{
    text-align: center;
    background-color: white;
    display: flex;
    flex-direction: column;
    flex-basis: auto;
    width: 100vw;
    padding: 1em;
    border-top:  1px solid rgb(226, 224, 224);
}

}

/**********************VERSION ESCRITORIO***************************/

@media only screen and (min-width: 1200px) {

    .main-header {
        display: flex;
        position: relative;
        width: 100vw;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: flex-start;  
    } 


    .search{
        width: 80vw;
        background-color: white;
        border-radius: 6px;
    }
    .button-bar-search{
        position: absolute;
        left: 98%;
        color: rgb(67, 66, 66);
        border: none;
        top: 8px;
        font-size: 1.2em;
        background-color:#fff;
        height: 1.2em;
    }
    
    i.fas.fa-search{
        font-style: normal;
        font-variant: normal;
        text-rendering: auto;
        line-height: 1;
        color: #666;
        font-size: 0.8em;
        margin: 3px -15px;
    }

    #toggle-menu{
        display:none;
    }

    .logo{
        width:140px;
        padding: 10px 10px 10px 10px; 
        margin-bottom: 10px;
        margin-top: 5px;   
    }
   
    .main-menu{
        transform: translateY(0);/* aqui el menu se va mostrar mediante el script js*/ 
        display:flex;
        flex-direction: row;

        font-size: 1em;    
        width: 100vw;
        height: 8vh;
        padding: 5px;
        margin: 0;
    }

    .izquierda-nav{
        position:relative;
        display: flex;
        flex-direction: row;
        border-bottom: 0;
        margin-right: 0;
        margin-left: -2.5em;
    }



    .derecha-nav{
    
        display: flex;
        flex-direction: row;
        margin-left: auto;
    }

    .main-menu__item{
        padding: 1em; 
        list-style-type: none; 
    } 
    .main-menu__link{
        color: rgb(9, 9, 9);
        text-transform: capitalize;
        text-decoration: none; 
    }

    .banner-img{
        object-fit: cover;
        object-position: 50% 50%;
        height: 30vh;
        width: 100vw;
    } 
    

  

  
    .card-container{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        align-content: flex-start;
        justify-content: center;
        margin:auto;
        gap: 8px
    }

    .card{
        border-top: solid 1px #ebebeb; 
        margin-bottom: 8px ;
        width: 20%;
        
    }
   
.circulo {
    width: 30px;
    height: 30px;    
    border-radius: 50%;
    border: solid 2px  #5cb85c;
    font-size: 1em;
    padding: 0.4em;
    margin-left: 85%;
    display: flex;
    justify-content: center; 
}
    .card h5{
        display: none;   
    }

    .card:hover h5{
        display: block;   
    }




p.titulos-principales{
    text-align: left;
    font-size: 1.5em;
    margin: 5px auto 0 6.3em;
    font-weight: bold;
}


    .elementos-del-footer{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: center;
        align-content: center;

        max-width: 85%;
        margin: auto;

    }
}






